
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: saddlebrown;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

a, a:hover, a:visited {
  text-decoration: none;
}
